@{
    ViewData["Title"] = "Backoffice";
}

<div style="padding-top:120px" class="container">
    <h1>
        backoffice!
    </h1>
    <a asp-controller="productsmanager" asp-action="index">Product Manager</a>
    <a asp-controller="admin" asp-action="users">Users</a>
    

</div>