@model IEnumerable<UserProfileCardViewModel>

<div style="padding-top: 90px"></div>
@{
	ViewData["Title"] = "All users";
}
<section class="users-manager-list">

	<div class="container">
		<div class="list-header">
			<div class="title">@ViewData["Title"]</div>	@*<a class="link" asp-controller="productsmanager" asp-action="register">ADD NEW PRODUCTS</a>*@
		</div>
		<a asp-controller="admin" asp-action="registeruser" class="btn-theme">Add new user</a>

		@if (Model != null)
		{
			foreach (var user in Model)
			{
				<partial name="/Views/Partials/_UsersListItem.cshtml" model="user"/>

			}
		}


	</div>
</section>