.register-form {
    padding: 20px 0 60px 0;

    @include lg {
        padding: 60px 0;
    }

    .container {
        border: 0px solid $color-dark-5;
        padding: 30px;
        margin-top: 80px;

        @include md {
            border: 1px solid $color-dark-5;
            max-width: 60%;
        }
    }

    .title {
        margin-bottom: 40px;
    }

    form {
        display: grid;
        column-gap: 30px;
        row-gap: 15px;
        grid-template-columns: 1fr;
        grid-template-areas: "name" "email" "phoneNumber" "companyName" "message" "terms" "button";

        @include lg {
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "firstname lastname" "streetname streetname" "postalcode city" "phoneNumber companyName" "email email" "password password" "confirmpassword confirmpassword" "profileimage profileimage" "terms terms" "button button";
        }

        .firstname {
            grid-area: firstname;
        }

        .lastname {
            grid-area: lastname;
        }

        .streetname {
            grid-area: streetname;
        }

        .postalcode {
            grid-area: postalcode;
        }

        .city {
            grid-area: city;
        }

        .email {
            grid-area: email;
        }

        .password {
            grid-area: password;
        }

        .confirmpassword {
            grid-area: confirmpassword;
        }

        .phoneNumber {
            grid-area: phoneNumber;
        }

        .companyName {
            grid-area: companyName;
        }

        .profileimage {
            grid-area: profileimage;
        }

        .terms {
            grid-area: terms;
            margin: 10px 0;
        }

        button {
            grid-area: button;

            @include lg {
                display: flex;
                justify-self: flex-start;
            }
        }
    }
}
