.cart-container {
    color: black;
    padding-top: 4rem;

    .cart-header {
        padding-top: 2rem;

        .cart-items {
            display: flex;
            flex-direction: column;
            justify-content:center;

           
            .cart-card {
                display: grid;
                grid-template-columns: 2fr 1fr;
                border: 1px solid lightgray;
                justify-content: space-between;
                padding: 1rem 1rem;
                margin-bottom: 1rem;

                .cart-item {
                    display: flex;
                    flex-direction: column;
                    flex:1;

                    .product-name {
                        font-size: 1.2rem;
                        font-weight: 700;
                    }
                    .quantity {
                        font-weight: bold;
                    }
                    .price {
                        font-weight:bold;
                    }
                }
                    .product-image {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                        width: 100%;
                        height: 100%;
                        }
                    }
            }

        }
    }
}
