@model ContactFormViewModel

<section class="contact-form">
    <div class="container">
        <div class="title">Write something</div>

        <form method="post" id="contactForm" novalidate autocomplete="off">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="name form-group">
                <label asp-for="Name">Your Name*</label>
                <input asp-for="Name" id="name" required autocomplete="off">
                <span asp-validation-for="Name" id="spanErrorName" class="error"></span>
            </div>
            <div class="email form-group">
                <label asp-for="Email">Your Email*</label>
                <input asp-for="Email" id="email" autocomplete="off" required>
                <span asp-validation-for="Email" id="spanErrorEmail" class="error"></span>
            </div>
            <div class="phoneNumber form-group">
                <label asp-for="PhoneNumber">Phone Number (optional)</label>
                <input asp-for="PhoneNumber" id="phone" autocomplete="off">
            </div>
            <div class="companyName form-group">
                <label asp-for="CompanyName">Company (optional)</label>
                <input asp-for="CompanyName" id="company" autocomplete="off">
            </div>
            <div class="message form-group">
                <label asp-for="Message">Message*</label>
                <textarea asp-for="Message" id="message" required></textarea>
                <span asp-validation-for="Message" id="spanErrorMessage" class="error"></span>
            </div>
            <div class="terms form-checkbox-group">
                <label class="custom-checkbox">
                    Save my name, email in the this browser for the next time I comment.
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </label>
            </div>
            <button id="submitButton" class="btn-theme" type="submit">Submit</button>
        </form>
    </div>
</section>