@model GridItemViewModel

<a asp-controller="products" asp-action="details" asp-route-id="@Model.Id" class="collection-item">
    @if(Model.ImageUrl == null)
    {  
        <img src="/images/placeholders/501x430.svg" alt="@Model.Title">
    } else
    {
        
    <img src="/images/products/@Model.ImageUrl" alt="@Model.Title">
    }
    <div class="body">
        <div class="item-title">@Model.Title</div>
        <div class="info">
            <div class="price">$@Model.Price.ToString("F2")</div>
            <i class="add-cart fa-solid fa-cart-plus"></i>
        </div>
    </div>
</a>
