<header>
    <div class="container">
        <div class="logo"><img src="images/logo.svg" alt="">bmerketo</div>
        <nav id="menu" class="menu-links">
            <a class="link" asp-controller="home" asp-action="Index">HOME</a>
            <a class="link" asp-controller="products" asp-action="Index">PRODUCTS</a>
            <a class="link" asp-controller="contact" asp-action="Index">CONTACT</a>
            @if(signInManager.IsSignedIn(User) && User.IsInRole("admin"))
            {
                <a class="link" asp-controller="admin" asp-action="Index">Backoffice <i class="fa-solid fa-user-unlock"></i></a>
            }
        </nav>
        <nav class="menu-icons">
            <a class="link" href="#"><i class="fa-regular fa-search"></i></a>
            @if(signInManager.IsSignedIn(User))
            {

                <a class="link userName" asp-action="index" asp-controller="account">@User.Identity?.Name</a>
                <a class="link" asp-controller="logout" asp-action="index">Logout</a>

            }
            else
            {
                <a class="link" asp-controller="login" asp-action="Index">Login</a>
            }

            <a class="link" href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </nav>
        <div class="toggle">
            <button class="btn-toggle btn-outline-white" data-option="toggle" data-target="#menu">
                <i id="icon" class="fa-regular fa-bars"></i>
            </button>
        </div>
    </div>
</header>