@model UserRegistrationViewModel
@{
    ViewData["Title"] = "Register a new account";
}




<section class="register-form">
    <div class="container">
        <div class="title">@ViewData["Title"]</div>

        <form method="post" id="registerForm" novalidate autocomplete="off">

            <div asp-validation-summary="ModelOnly" class="error"></div>

            <div class="firstname form-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" id="firstName" required>
                <span asp-validation-for="FirstName" id="spanErrorFirstName" class="error"></span>

            </div>
            <div class="lastname form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" id="lastName" required>
                <span asp-validation-for="LastName" id="spanErrorLastName" class="error"></span>

            </div>
            <div class="streetname form-group">
                <label asp-for="StreetName"></label>
                <input asp-for="StreetName" id="streetName" required>
                <span asp-validation-for="StreetName" id="spanErrorStreetName" class="error"></span>

            </div>
            <div class="postalcode form-group">
                <label asp-for="PostalCode"></label>
                <input asp-for="PostalCode" id="postalcode" required>
                <span asp-validation-for="PostalCode" id="spanErrorPostalcode" class="error"></span>

            </div>
            <div class="city form-group">
                <label asp-for="City"></label>
                <input asp-for="City" id="city" required>
                <span asp-validation-for="City" id="spanErrorCity" class="error"></span>

            </div>
            <div class="phoneNumber form-group">
                <label asp-for="PhoneNumber">Phone Number (optional)</label>
                <input asp-for="PhoneNumber" id="phone" autocomplete="off">
            </div>
            <div class="companyName form-group">
                <label asp-for="CompanyName">Company (optional)</label>
                <input asp-for="CompanyName" id="company" autocomplete="off">
            </div>
            <div class="email form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" id="email" required>
                <span asp-validation-for="Email" id="spanErrorEmail" class="error"></span>



            </div>
            <div class="password form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" id="password" required>
                <span asp-validation-for="Password" id="spanErrorPassword" class="error"></span>

            </div>
            <div class="confirmpassword form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" id="confirmPassword" required>
                <span asp-validation-for="ConfirmPassword" id="spanErrorConfirmPassword" class="error"></span>

            </div>
            <div class="profileimage form-group">
                <label asp-for="ProfileImage"></label>
                <input asp-for="ProfileImage" id="profileimage">
                <span asp-validation-for="ProfileImage"  class="error"></span>
            </div>

            <div class="terms form-checkbox-group">
                <label class="custom-checkbox">
                    <label asp-for="TermsAndAgreement"></label>
                    <input asp-for="TermsAndAgreement" required>
                    <span class="checkmark"></span>
                <span asp-validation-for="TermsAndAgreement" class="error"></span>
                </label>
            </div>
            <button id="submitButton" class="btn-theme" type="submit">Register</button>
        </form>
    </div>
</section>