@model LoginViewModel
@{
    ViewData["Title"] = "Login to your account";
}
<section class="login-form">
    <div class="container">
        <div class="title">@ViewData["Title"]</div>

        <form method="post" id="loginForm" novalidate autocomplete="off">

            <div asp-validation-summary="ModelOnly" class="error"></div>

            <div>Dont have an account? <a asp-controller="register" asp-action="index">Register a new account</a></div>
            <div class="email form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" id="email" autocomplete="off">
                <span asp-validation-for="Email" id="spanErrorEmail" class="error"></span>
            </div>
            <div class="password form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" id="password" autocomplete="off">
                <span asp-validation-for="Password" id="spanErrorPassword" class="error"></span>

            </div>


            <div class="terms form-checkbox-group">
                <label class="custom-checkbox">
                    <label asp-for="RememberMe"></label>
                    <input asp-for="RememberMe">
                    <span class="checkmark"></span>
                </label>
            </div>
            <button id="contactBtn" class="btn-theme" type="submit">Login</button>
        </form>
    </div>
</section>