@model CreateTagsViewModel


<section class="product-manager">
	<div class="container">
		<div class="title">Add a new Tag</div>

		<form method="post" novalidate>
			<div asp-validation-summary="ModelOnly" class="error"></div>

			<div class="product-name form-group">
				<label asp-for="TagName"></label>
				<input asp-for="TagName" />
				<span asp-validation-for="TagName" class="error"></span>
			</div>


			<button class="btn-theme">Add Tag</button>
		</form>
	</div>
</section>