@model ProductCategoryViewModel


<section class="product-manager">
	<div class="container">
		<div class="title">Add a new Category</div>

		<form method="post" novalidate>
			<div asp-validation-summary="ModelOnly" class="error"></div>

			<div class="product-name form-group">
				<label asp-for="CategoryName"></label>
				<input asp-for="CategoryName" />
				<span asp-validation-for="CategoryName" class="error"></span>
			</div>


			<button class="btn-theme">Add Category</button>
		</form>
	</div>
</section>